.testimonial_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.banner_backgroundImage {
    background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/Group_72181.png?v=1712918886");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}